apiVersion: ako.vmware.com/v1alpha1
kind: HostRule
metadata:
  name: avi-crd-hostrule
  namespace: default
spec:
  virtualhost:
    fqdn: boutique.${avi_subdomain}.${domain}
    applicationProfile: http_rate_limit_request_per_cookie
    tls: # optional
      sslKeyCertificate:
        name: System-Default-Cert-EC
        type: ref
    analyticsPolicy: # optional
      fullClientLogs:
        enabled: true
        throttle: HIGH
      logAllHeaders: true