<!DOCTYPE html>
<html>
<head>
    <title>Nested Deployment Details</title>
</head>
<body>
<h1>Nested Deployment Details</h1>
<ul>
    <li><a href="socks.html" target="_blank">Configure a SOCKS proxy</a></li>
    <li><a href="https://esxi01.${domain}" target="_blank">ESXi 01</a></li>
    <li><a href="https://esxi02.${domain}" target="_blank">ESXi 02</a></li>
    <li><a href="https://esxi03.${domain}" target="_blank">ESXi 03</a></li>
    <li><a href="https://vcsa-01.${domain}" target="_blank">VCSA</a></li>
    <li><a href="https://avi-ctrl-01.${domain}" target="_blank">Avi Ctrl</a></li>
</ul>
<h1>Enable Tanzu/VKS</h1>
<ul>
    <li><a href="tkgs-service.html" target="_blank">Update TKGs service</a></li>
    <li><a href="cci-service.html" target="_blank">Install CCI service</a></li>
    <li><a href="tkgs-workload.html" target="_blank">Create workload clusters</a></li>
</ul>
<h1>Demo Automation</h1>
<ul>
    <li><a href="ansible.html" target="_blank">Ansible Demo</a></li>
    <li><a href="terraform.html" target="_blank">Terraform Demo</a></li>
</ul>
<h1>Demo WAF</h1>
<ul>
    <li><a href="see-waf-details-api.html" target="_blank">See WAF details through the API</a></li>
</ul>
<h1>Demo Vanilla K8s</h1>
<ul>
    <li><a href="vanilla-k8s.html" target="_blank">Demo AKO and Vanilla K8s</a></li>
    <li><a href="vanilla-k8s-amko.html" target="_blank">Demo AMKO and Vanilla K8s</a></li>
</ul>
<h1>Demo OpenShift</h1>
<ul>
    <li><a href="openshift.html" target="_blank">Demo OpenShift</a></li>
</ul>
</body>
</html>