#cloud-config
users:
  - default

ssh_pwauth: True

chpasswd:
  list: |
    ubuntu:${password}
  expire: False

hostname: ${hostname}

write_files:
  - content: |
      #!/bin/bash
      # retrieve the network interface names
      ifaceFirstName=`ip -o link show | awk -F': ' '{print $2}' | head -2 | tail -1`
      macFirst=`ip -o link show | awk -F'link/ether ' '{print $2}' | awk -F' ' '{print $1}' | head -2 | tail -1`
      ifaceLastName=`ip -o link show | awk -F': ' '{print $2}' | head -3 | tail -1`
      macLast=`ip -o link show | awk -F'link/ether ' '{print $2}' | awk -F' ' '{print $1}' | head -3 | tail -1`
      hostname=${hostname}
      echo "${ip_gw} $hostname" | tee -a /etc/hosts
      cp /etc/netplan/50-cloud-init.yaml /etc/netplan/50-cloud-init.yaml.old
      echo "network:" | tee /etc/netplan/50-cloud-init.yaml
      echo "    ethernets:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "        $ifaceFirstName:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            dhcp4: false" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            addresses: [${ip_gw}/${prefix}]" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            match:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "                macaddress: $macFirst" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            set-name: $ifaceFirstName" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            gateway4: ${default_gw}" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            nameservers:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "              addresses: [${forwarders_netplan}]" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "        $ifaceLastName:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            match:" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "                macaddress: $macLast" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            set-name: $ifaceLastName" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "            mtu: 9000" | tee -a /etc/netplan/50-cloud-init.yaml
      echo "    version: 2" | tee -a /etc/netplan/50-cloud-init.yaml
      netplan apply
      #
      # create a readonly user
      #
      echo "${gw_readonly_user}:${gw_readonly_password}" > /tmp/readonly
      useradd -p dummy -s /bin/bash readonly
      chpasswd < /tmp/readonly
      rm /tmp/readonly
      #
      # apt install
      #
      sleep 60
      wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
      echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | tee /etc/apt/sources.list.d/hashicorp.list
      apt update
      apt install -y jq
      packages='${packages}'
      echo iptables-persistent iptables-persistent/autosave_v4 boolean true | sudo debconf-set-selections
      echo iptables-persistent iptables-persistent/autosave_v6 boolean true | sudo debconf-set-selections
      echo $packages | jq -c -r .[] | while read package
      do
        apt install -y $package
      done
      #
      # Directories
      #
      directories='${directories}'
      echo $directories | jq -c -r .[] | while read directory
      do
        sudo -u ubuntu  mkdir -p /home/ubuntu/$directory
      done
      #
      # pip3
      #
      pip3 install --upgrade pip
      pip3_packages='${pip3_packages}'
      echo $pip3_packages | jq -c -r .[] | while read pip3_package
      do
        sudo -u ubuntu pip3 install $pip3_package
      done
      #
      # GOVC install
      #
      curl -L -o - "https://github.com/vmware/govmomi/releases/latest/download/govc_$(uname -s)_$(uname -m).tar.gz" | tar -C /usr/local/bin -xvzf - govc
      #
      # Network
      #
      mv /etc/netplan/50-cloud-init.yaml /etc/netplan/50-cloud-init.yaml.old
      cat /etc/netplan/50-cloud-init.yaml.old | head -n -1 | tee /etc/netplan/50-cloud-init.yaml
      echo "    vlans:" | tee -a /etc/netplan/50-cloud-init.yaml
      networks='${networks}'
      echo $networks | jq -c -r .[] | while read net
      do
        echo "        vlan.`echo $net | jq -c -r .vlan_id`:" | tee -a /etc/netplan/50-cloud-init.yaml
        echo "            id: `echo $net | jq -c -r .vlan_id`" | tee -a /etc/netplan/50-cloud-init.yaml
        echo "            link: $ifaceLastName" | tee -a /etc/netplan/50-cloud-init.yaml
        echo "            addresses: [`echo $net | jq -c -r .gw`/`echo $net | jq -c -r .cidr | cut -f2 -d'/'`]" | tee -a /etc/netplan/50-cloud-init.yaml
        if [[ $(echo ${net} | jq -c -r '.type') == "nsx-external" ]] ; then
          segments_overlay='${segments_overlay}'
          echo "            routes:" | tee -a /etc/netplan/50-cloud-init.yaml
          echo $segments_overlay | jq -c -r .[] | while read segment
          do
            echo "            - to: $(echo $segment | jq -c -r .cidr)" | tee -a /etc/netplan/50-cloud-init.yaml
            echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
            sudo iptables -t nat -A POSTROUTING -s `echo $segment | jq -c -r .cidr` -o $ifaceFirstName -j MASQUERADE
          done
          if [[ ${kind} == "vsphere-nsx"* && ${kind} == *"-avi" ]]; then
            net_client_list='${net_client_list}'
            tier1s='${tier1s}'
            #
            # NSX cidr_vip routes
            echo $tier1s | jq -c -r .[] | while read item
            do
                if $(echo ${item} | jq -e '.lb' > /dev/null) ; then
                  if [[ $(echo ${item} | jq -c -r '.lb') == "true" ]] ; then
                    echo "            - to: $(echo $item | jq -c -r .nsx_vip_cidr)" | tee -a /etc/netplan/50-cloud-init.yaml
                    echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
                  fi
                fi
            done
            #
            # Avi cidr_vip routes
            echo $net_client_list | jq -c -r .[] | while read cidr_vip
            do
              echo "            - to: $(echo $cidr_vip | jq -c -r .cidr_vip)" | tee -a /etc/netplan/50-cloud-init.yaml
              echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
            done
            #
            # NSX VPC external routes and NAT
            if [[ ${kind} == "vsphere-nsx-vpc-avi" ]]; then
              ip_blocks_json='${ip_blocks_json}'
              echo $ip_blocks_json | jq -c -r .[] | while read ip_block_json
              do
                if [[ $(echo ${ip_block_json} | jq -r -c .visibility) == "EXTERNAL" ]]; then
                  echo "            - to: $(echo $ip_block_json | jq -c -r .vip)" | tee -a /etc/netplan/50-cloud-init.yaml
                  echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
                  sudo iptables -t nat -A POSTROUTING -s `echo $ip_block_json | jq -c -r .cidr` -o $ifaceFirstName -j MASQUERADE
                fi
              done
            fi
            #
            # Supervisor cluster ingress
            echo "            - to: ${supervisor_cluster_ingress_cidr}" | tee -a /etc/netplan/50-cloud-init.yaml
            echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
            tanzu_namespaces='${tanzu_namespaces}'
            echo $tanzu_namespaces | jq -c -r .[] | while read ns
            do
              if $(echo $ns | jq -e '.ingress_cidr' > /dev/null) ; then
                echo "            - to: $(echo $ns | jq -c -r .ingress_cidr)" | tee -a /etc/netplan/50-cloud-init.yaml
                echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
              fi
              if $(echo $ns | jq -e '.namespace_cidr' > /dev/null) ; then
                echo "            - to: $(echo $ns | jq -c -r .namespace_cidr)" | tee -a /etc/netplan/50-cloud-init.yaml
                echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
                sudo iptables -t nat -A POSTROUTING -s $(echo $ns | jq -c -r .namespace_cidr) -o $ifaceFirstName -j MASQUERADE
              fi
            done
            supervisor_cluster_namespace_cidr='${supervisor_cluster_namespace_cidr}'
            echo "            - to: ${supervisor_cluster_namespace_cidr}" | tee -a /etc/netplan/50-cloud-init.yaml
            echo "              via: ${cidr_nsx_external_three_octets}.${tier0_vip_starting_ip}" | tee -a /etc/netplan/50-cloud-init.yaml
            sudo iptables -t nat -A POSTROUTING -s ${supervisor_cluster_namespace_cidr} -o $ifaceFirstName -j MASQUERADE
          fi
        fi
        sudo iptables -t nat -A POSTROUTING -s `echo $net | jq -c -r .cidr` -o $ifaceFirstName -j MASQUERADE
        sudo iptables -A FORWARD -i vlan.`echo $net | jq -c -r .vlan_id` -o $ifaceFirstName -j ACCEPT
      done
      echo "    version: 2" | tee -a /etc/netplan/50-cloud-init.yaml
      netplan apply
      iptables -A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
      iptables-save | tee /etc/iptables/rules.v4
      sysctl -w net.ipv4.ip_forward=1
      echo "net.ipv4.ip_forward=1" | tee -a /etc/sysctl.conf
      #
      # DNS config
      #
      cp /etc/bind/named.conf.options /etc/bind/named.conf.options.bkup
      cp /etc/bind/named.conf.options /etc/bind/named.conf.options.old
      sudo tee /etc/bind/named.conf.options > /dev/null <<EOT
      options {
        directory "/var/cache/bind";
        recursion yes;
        notify yes;
        allow-query { any; };
        allow-query-cache { any; };
        allow-recursion { any; };
        forwarders { ${forwarders_bind}; };
        dnssec-validation no;
        auth-nxdomain no; # conform to RFC1035
        listen-on { localhost; any; };
        listen-on-v6 { localhost; any; };
        allow-transfer { any; };
      };
      EOT
      #
      sudo cp /etc/bind/named.conf.local /etc/bind/named.conf.local.old
      sudo tee /etc/bind/named.conf.local > /dev/null <<EOT
      zone "${domain}" {
        type master;
        forwarders {};
        allow-transfer { any; };
        update-policy {
          grant myKeyName zonesub any;
        };
        file "/var/lib/bind/db.${domain}";
      };
      zone "${reverse_mgmt}.in-addr.arpa" {
        type master;
        update-policy {
          grant myKeyName zonesub any;
        };
        allow-transfer { any; };
        file "/var/lib/bind/db.${reverse_mgmt}";
      };
      EOT
      #
      sudo tee /var/lib/bind/db.${domain} > /dev/null <<EOT
      \$ORIGIN .
      \$TTL 60
      ${domain}                IN SOA dns.${domain}. admin.${domain}. (
                                      329        ; serial
                                      604800     ; refresh (1 week)
                                      86400      ; retry (1 day)
                                      2419200    ; expire (4 weeks)
                                      604800     ; minimum (1 week)
                                      )
                              NS      dns.${domain}.
      \$ORIGIN ${domain}.
      dns       IN            A       ${ip_gw}
      demo       IN            A       ${ip_gw}
      ${vcsa_name}       IN            A       ${cidr_mgmt_three_octets}.${ip_vcsa}
      EOT
      #
      if [[ ${ip_nsx} != ${ip_gw} ]]; then
        echo "${nsx_manager_name}       IN            A       ${ip_nsx}" | tee -a /var/lib/bind/db.${domain}
      fi
      if [[ ${ip_avi} != ${ip_gw} ]]; then
        echo "${avi_ctrl_name}       IN            A       ${ip_avi}" | tee -a /var/lib/bind/db.${domain}
      fi
      echo "${vra_name}       IN            A       ${ip_vra}" | tee -a /var/lib/bind/db.${domain}
      echo "${act_name}       IN            A       ${ip_act}" | tee -a /var/lib/bind/db.${domain}
      count_esxi=1
      echo '${ips_esxi}' | jq -c -r .[] | while read ip_esxi
      do
        echo "${esxi_basename}$count_esxi      IN            A       ${cidr_mgmt_three_octets}.${ip_esxi}" | tee -a /var/lib/bind/db.${domain}
        ((count_esxi++))
      done
      #
      # openshift DNS entries
      #
      if [[ "${kind}" == "vsphere-avi" ]] ; then
        echo "api.${openshift_cluster_name}   IN            A       ${openshift_api_ip}" | tee -a /var/lib/bind/db.${domain}
        echo "*.apps.${openshift_cluster_name}   IN            A       ${openshift_ingress_ip}" | tee -a /var/lib/bind/db.${domain}
      fi
      #
      if [[ ${ip_avi_dns} != ${ip_gw} ]]; then
        echo "app-dns   IN            A       ${ip_avi_dns}" | tee -a /var/lib/bind/db.${domain}
        echo "\$ORIGIN ${avi_subdomain}.${domain}." | tee -a /var/lib/bind/db.${domain}
        echo "\$TTL 1D" | tee -a /var/lib/bind/db.${domain}
        echo "@         IN            NS      app-dns.${domain}." | tee -a /var/lib/bind/db.${domain}
        echo "\$ORIGIN ${avi_gslb_subdomain}.${domain}." | tee -a /var/lib/bind/db.${domain}
        echo "@         IN            NS      app-dns.${domain}." | tee -a /var/lib/bind/db.${domain}
      fi
      #
      sudo tee /var/lib/bind/db.${reverse_mgmt} > /dev/null <<EOT
      \$ORIGIN .
      \$TTL 60
      ${reverse_mgmt}.in-addr.arpa     IN SOA  dns.${domain}. admin.${domain}. (
                                      298        ; serial
                                      604800     ; refresh (1 week)
                                      86400      ; retry (1 day)
                                      2419200    ; expire (4 weeks)
                                      604800     ; minimum (1 week)
                                      )
                              NS      dns.${domain}.
      \$ORIGIN ${reverse_mgmt}.in-addr.arpa.
      ${ip_vcsa}            PTR     ${vcsa_name}.${domain}.
      EOT
      #
      if [[ ${ip_nsx} != ${ip_gw} ]]; then
        echo "${ip_nsx_last_octet}            PTR     ${nsx_manager_name}.${domain}." | tee -a /var/lib/bind/db.${reverse_mgmt}
      fi
      if [[ ${ip_avi} != ${ip_gw} ]]; then
        echo "${ip_avi_last_octet}            PTR     ${avi_ctrl_name}.${domain}." | tee -a /var/lib/bind/db.${reverse_mgmt}
      fi
      echo "${vra_last_octet}            PTR     ${vra_name}.${domain}." | tee -a /var/lib/bind/db.${reverse_mgmt}
      echo "${act_last_octet}            PTR     ${act_name}.${domain}." | tee -a /var/lib/bind/db.${reverse_mgmt}
      count_esxi=1
      echo '${ips_esxi}' | jq -c -r .[] | while read ip_esxi
      do
        echo "`echo $ip_esxi`            PTR     ${esxi_basename}$count_esxi.${domain}." | tee -a /var/lib/bind/db.${reverse_mgmt}
        ((count_esxi++))
      done
      #
      systemctl restart bind9.service
      #
      # NTP config
      #
      mv /etc/chrony/chrony.conf /etc/chrony/chrony.conf.old
      cat /etc/chrony/chrony.conf.old | grep -v pool | tee /etc/chrony/chrony.conf
      ntp_masters='${ntp_masters}'
      echo $ntp_masters | jq -c -r .[] | while read ntp_master
      do
        echo "pool $ntp_master iburst" | tee -a /etc/chrony/chrony.conf
      done
      echo "allow 0.0.0.0/0" | tee -a /etc/chrony/chrony.conf
      systemctl restart chrony.service
      #
      # K8s install
      #
      curl -fsSL https://pkgs.k8s.io/core:/stable:/${K8s_version_short}/deb/Release.key | sudo gpg --dearmor -o /tmp/kubernetes-apt-keyring.gpg
      echo "deb [signed-by=/tmp/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/${K8s_version_short}/deb/ /" | sudo tee /etc/apt/sources.list.d/kubernetes.list
      apt update
      apt-get install -y kubectl
      echo "alias k=kubectl" | sudo tee -a /home/ubuntu/.profile
      echo "source <(kubectl completion bash | sed s/kubectl/k/g)" | sudo tee -a /home/ubuntu/.profile
      #
      # helm install
      #
      wget https://baltocdn.com/helm/signing.asc -O /tmp/signing.asc
      apt-key add /tmp/signing.asc
      sudo add-apt-repository "deb https://baltocdn.com/helm/stable/debian/ all main"
      apt-get install -y helm
      #
      # Patching DNS to localhost
      #
      mv /etc/netplan/50-cloud-init.yaml /etc/netplan/50-cloud-init.yaml.patching_dns
      cat /etc/netplan/50-cloud-init.yaml.patching_dns | sed -e "s/${forwarders_netplan}/127.0.0.1/" | tee /etc/netplan/50-cloud-init.yaml
      netplan apply
      #
      # ssh keys init
      #
      sudo -u ubuntu ssh-keygen -t rsa -N "" -f /home/ubuntu/.ssh/id_rsa
      #
      # nginx config
      #
      # nginx auth
      echo -n 'admin:' | tee /etc/nginx/.htpasswd
      openssl passwd -apr1 ${password} | tee -a /etc/nginx/.htpasswd
      #
      # nginx ssl
      openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/ssl/private/nginx-selfsigned.key -out /etc/ssl/certs/nginx-selfsigned.crt -subj '/CN=demo/C=nl/ST=Amsterdam/L=Amsterdam/O=VMware/OU=Avi' -addext "subjectAltName = DNS:demo.${domain},IP:${ip_gw}"
      openssl dhparam -out /etc/ssl/certs/dhparam.pem 1024
      #
      echo "ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;"  | tee /etc/nginx/snippets/self-signed.conf
      echo "ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;"  | tee -a /etc/nginx/snippets/self-signed.conf
      #
      echo "ssl_protocols TLSv1 TLSv1.1 TLSv1.2;" | tee /etc/nginx/snippets/ssl-params.conf
      echo "ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_ecdh_curve secp384r1;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_session_cache shared:SSL:10m;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_session_tickets off;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_stapling on;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_stapling_verify on;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "resolver 8.8.8.8 8.8.4.4 valid=300s;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "resolver_timeout 5s;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "add_header Strict-Transport-Security "max-age=63072000; includeSubdomains";" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "add_header X-Frame-Options DENY;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "add_header X-Content-Type-Options nosniff;" | tee -a /etc/nginx/snippets/ssl-params.conf
      echo "ssl_dhparam /etc/ssl/certs/dhparam.pem;" | tee -a /etc/nginx/snippets/ssl-params.conf
      #
      # nginx config file
      mv /etc/nginx/sites-available/default /etc/nginx/sites-available/default.old
      sed "s/listen 80 default_server/#listen 80 default_server/g" /etc/nginx/sites-available/default.old | tee /etc/nginx/sites-available/default
      mv /etc/nginx/sites-enabled/default /etc/nginx/sites-enabled/default.old
      echo "server {" | tee /etc/nginx/sites-enabled/default
      echo "	listen 443 ssl default_server;" | tee -a /etc/nginx/sites-enabled/default
      echo "	listen [::]:443 ssl default_server;" | tee -a /etc/nginx/sites-enabled/default
      echo "	server_name ${ip_gw};" | tee -a /etc/nginx/sites-enabled/default
      echo "	include snippets/self-signed.conf;" | tee -a /etc/nginx/sites-enabled/default
      echo "	include snippets/ssl-params.conf;" | tee -a /etc/nginx/sites-enabled/default
      echo "	root /var/www/html;" | tee -a /etc/nginx/sites-enabled/default
      echo "	index index.html index.htm index.nginx-debian.html;" | tee -a /etc/nginx/sites-enabled/default
      echo "	server_name _;" | tee -a /etc/nginx/sites-enabled/default
      echo "	location / {" | tee -a /etc/nginx/sites-enabled/default
      echo '		try_files $uri $uri/ =404;' | tee -a /etc/nginx/sites-enabled/default
      echo "		auth_basic \"Restricted Content\";" | tee -a /etc/nginx/sites-enabled/default
      echo "		auth_basic_user_file /etc/nginx/.htpasswd;" | tee -a /etc/nginx/sites-enabled/default
      echo "	}" | tee -a /etc/nginx/sites-enabled/default
      echo "	location /api/ {" | tee -a /etc/nginx/sites-enabled/default
      echo '		include proxy_params;' | tee -a /etc/nginx/sites-enabled/default
      echo '		proxy_pass http://127.0.0.1:5000/api/;' | tee -a /etc/nginx/sites-enabled/default
      echo "	}" | tee -a /etc/nginx/sites-enabled/default
      echo "}" | tee -a /etc/nginx/sites-enabled/default
      #
      service nginx restart
      #
      # vault config
      #
      if [[ ${kind} == "vsphere-nsx"* && ${kind} == *"-avi" ]]; then
          mv /etc/vault.d/vault.hcl /etc/vault.d/vault.hcl.ori
          export VAULT_ADDR="https://127.0.0.1:8200"
          vault_config='
          storage "file" {
            path    = "/opt/vault/data"
          }
            listener "tcp" {
              address     = "0.0.0.0:8200"
              tls_disable = "false"
              tls_cert_file = "/opt/vault/tls/tls.crt"
              tls_key_file = "/opt/vault/tls/tls.key"
            }
            ui = true
            api_addr = "https://${ip_gw}:8200"'
          echo "${vault_config}" | tee /etc/vault.d/vault.hcl
          systemctl start vault
          systemctl enable vault
          vault operator init -key-shares=1 -key-threshold=1 -tls-skip-verify -format json | tee ${vault_secret_file_path}
          vault operator unseal -tls-skip-verify $(jq -c -r .unseal_keys_hex[0] ${vault_secret_file_path})
          vault login -tls-skip-verify $(jq -c -r .root_token ${vault_secret_file_path})
          # root ca
          vault secrets enable -tls-skip-verify ${vault_pki_name}
          vault secrets tune -tls-skip-verify -max-lease-ttl=${vault_pki_max_lease_ttl} "${vault_pki_name}"
          vault write -tls-skip-verify -field=certificate ${vault_pki_name}/root/generate/internal common_name="${vault_pki_cert_common_name}" issuer_name="${vault_pki_cert_issuer_name}" ttl=${vault_pki_cert_ttl} > ${vault_pki_cert_path}
          vault write -tls-skip-verify ${vault_pki_name}/roles/${vault_pki_role_name} allow_any_name=true
          vault write -tls-skip-verify ${vault_pki_name}/config/urls issuing_certificates="https://${ip_gw}:8200/v1/${vault_pki_role_name}/ca" crl_distribution_points="https://${ip_gw}:8200/v1/${vault_pki_role_name}/crl"
          # intermediate ca
          vault secrets enable -tls-skip-verify -path=${vault_pki_intermediate_name} ${vault_pki_name}
          vault secrets tune -tls-skip-verify -max-lease-ttl=${vault_pki_intermediate_max_lease_ttl} ${vault_pki_intermediate_name}
          vault write -tls-skip-verify -format=json ${vault_pki_intermediate_name}/intermediate/generate/internal common_name="${vault_pki_intermediate_cert_common_name}" issuer_name="${vault_pki_intermediate_cert_issuer_name}" | jq -r '.data.csr' | tee ${vault_pki_intermediate_cert_path}
          vault write -tls-skip-verify -format=json ${vault_pki_name}/root/sign-intermediate issuer_ref="${vault_pki_cert_issuer_name}" csr=@${vault_pki_intermediate_cert_path} format=pem_bundle ttl="${vault_pki_intermediate_max_lease_ttl}" | jq -r '.data.certificate' | tee ${vault_pki_intermediate_cert_path_signed}
          vault write -tls-skip-verify ${vault_pki_intermediate_name}/intermediate/set-signed certificate=@${vault_pki_intermediate_cert_path_signed}
          vault write -tls-skip-verify ${vault_pki_intermediate_name}/roles/${vault_pki_intermediate_role_name} issuer_ref="$(vault read -tls-skip-verify -field=default ${vault_pki_intermediate_role_name}/config/issuers)" allowed_domains="${domain}" allow_subdomains=${vault_pki_intermediate_role_allow_subdomains} max_ttl="${vault_pki_intermediate_role_max_ttl}"
          #
          # lbaas config
          #
          echo "{\"jsonFile\": \"/home/ubuntu/json/${jsonFile}\"}" | tee /home/ubuntu/lbaas.json
          chown ubuntu /home/ubuntu/lbaas.json
          chgrp ubuntu /home/ubuntu/lbaas.json
      fi
      # the following needs to be uncommented if kickstart file needs to be consumed by http
      # if [[ $(basename ${iso_esxi_url}) == "VMware-VMvisor-Installer-9.0.0.0.24528266.x86_64.iso" ]]; then
      #  cd /var/www/html/
      #  mkdir kickstart
      #  count_esxi=1
      #  echo '${ips_esxi}' | jq -c -r .[] | while read ip_esxi
      #  do
      #    echo "accepteula" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "rootpw \"${password}\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "install --ignoressd --firstdisk --overwritevmfs --ignoreprereqwarnings --ignoreprereqerrors --forceunsupportedinstall" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "keyboard 'US Default'" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "network --bootproto=static --device=vmnic0 --ip=${cidr_mgmt_three_octets}.${ip_esxi} --netmask=${netmask_mgmt} --nameserver=${ip_gw} --hostname=${deployment_name}-${esxi_basename}${count_esxi}.${domain} --gateway=${gateway} --vlanid=${vlan_id_mgmt}" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "reboot" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "%firstboot --interpreter=busybox" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface remove --interface-name=vmk0" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface add --interface-name=vmk0 --portgroup-name=\"Management Network\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface ipv4 set --interface-name=vmk0 --ipv4=${cidr_mgmt_three_octets}.${ip_esxi} --netmask=${netmask_mgmt} --type=static"  | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface tag add -i vmk0 -t Management" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip route ipv4 add -g ${ip_gw} -n 0.0.0.0/0"
      #    echo "esxcli network vswitch standard portgroup set -p \"Management Network\" -v ${vlan_id_mgmt}" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network vswitch standard portgroup set -p \"VM Network\" -v ${vlan_id_mgmt}" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network vswitch standard portgroup add -p \"VMotion Network\" -v \"vSwitch0\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network vswitch standard portgroup set -p \"VMotion Network\" -v ${vlan_id_vmotion}" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface add --interface-name=vmk1 --portgroup-name=\"VMotion Network\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface ipv4 set --interface-name=vmk1 --ipv4=${cidr_vmotion_three_octets}.${ip_esxi} --netmask=${netmask_vmotion} --type=static" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "network ip interface tag add -i vmk1 -t VMotion" | tee -a kickstart/KS${count_esxi}.CFG | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network vswitch standard portgroup add -p \"VSAN Network\" -v \"vSwitch0\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network vswitch standard portgroup set -p \"VSAN Network\" -v ${vlan_id_vsan}" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface add --interface-name=vmk2 --portgroup-name=\"VSAN Network\"" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface ipv4 set --interface-name=vmk2 --ipv4=${cidr_vsan_three_octets}.${ip_esxi} --netmask=${netmask_vsan} --type=static" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli network ip interface tag add -i vmk2 -t VSAN" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "vim-cmd hostsvc/enable_ssh" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "vim-cmd hostsvc/start_ssh" | tee -a kickstart/KS${count_esxi}.CFG
      #    echo "esxcli system ntp set --server ${ip_gw} --enabled true" | tee -a kickstart/KS${count_esxi}.CFG
      #    ((count_esxi++))
      #  done
      #fi
      #
      # End of cloud init
      #
      echo "cloud init done" | tee /tmp/cloudInitDone.log
    path: /opt/bootstrap.sh
    permissions: 0755

  - content: |
      ubuntu ALL=(ALL) NOPASSWD:ALL
    path: /etc/sudoers.d/ubuntu

runcmd:
  - /opt/bootstrap.sh